{% extends "admin/index.html" %}
{% import 'bukuserver/lib.html' as buku with context %}

{% block head %}
  {{ super() }}
  {{ buku.close_if_popup() }}
{% endblock %}

{% block menu_links %}
{{ super() }}
<form class="navbar-form navbar-right" action="{{url_for('bookmark.index_view')}}" method="GET">
  <div class="form-group">
    <input type="text" class="form-control" id="inputKeywords" placeholder="Search bookmark" name="flt1_buku_search">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
{% endblock %}

{% block body %}
{{ super() }}
<main class="container">
  <div style="padding: 40px 15px; text-align: center;">
    <h1>BUKU</h1>
    <p class="lead">Bookmark manager like a text-based mini-web</p>
    <p>
      <a class="btn btn-lg btn-success" href="{{url_for('bookmark.index_view')}}" role="button">Bookmarks</a>
      <a class="btn btn-lg btn-success" href="{{url_for('tag.index_view')}}" role="button">Tags</a>
      <a class="btn btn-lg btn-success" href="{{url_for('statistic.index')}}" role="button">Statistics</a>
    </p>
    <div class=" col-md-4 col-md-offset-4">
      <form class="form-horizontal" action="{{url_for('admin.search')}}" method="POST">
        <div class="form-group">
          {{form.keyword.label}}
          {{form.keyword()}}
        </div>
        <div class="text-left col-sm-offset-2">
          <div class="form-group"> {{form.deep()}} {{form.deep.label}} </div>
          <div class="form-group"> {{form.regex()}} {{form.regex.label}} </div>
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
    <div class=" col-md-4 col-md-offset-4">
      <p style="padding: 2em"> Bookmarklet:
	<a title="Drag this link to your bookmarks toolbar"
	   href="javascript:void%20function(){var%20e=location.href,t=document.title.trim()||%22%22,o=document.getSelection().toString().trim()||(document.querySelector(%22meta[name$=description%20i],%20meta[property$=description%20i]%22)||{}).content||%22%22;o.length%3E4e3%26%26(o=o.substr(0,4e3)+%22...%22,alert(%22The%20selected%20text%20is%20too%20long,%20it%20will%20be%20truncated.%22)),e=%22{{url_for("bookmarklet",_external=True)}}%3Furl=%22+encodeURIComponent(e)+%22%26title=%22+encodeURIComponent(t)+%22%26description=%22+encodeURIComponent(o),window.open(e,%22_blank%22,%22menubar=no,%20height=600,%20width=600,%20toolbar=no,%20scrollbars=yes,%20status=no,%20dialog=1%22)}();">
	  <b>✚ Add to Buku</b>
	</a><br/>
        <em style="font-size: smaller">Note: if you select text on the page before activating the bookmarklet, it'll be used as description instead of page metadata.</em>
      </p>
    </div>
  </div>
</main>
{% endblock %}
