*.py[co]
*.sw[po]
.cache/
.coverage
.hypothesis
buku.egg-info
dist
build
buku.py
.tox
.history
.vscode/launch.json
/tests/test_bukuDb/places.sqlite*
/tests/vcr_cassettes/test_search_and_open_all_in_browser.yaml
/tests/vcr_cassettes/tests.test_bukuDb/
/bookmarks.db
/venv/
/docker-compose/data/*
!/docker-compose/data/nginx/
