include CHANGELOG LICENSE README.md buku.1 requirements.txt
recursive-include tests *.py
recursive-include tests/test_bukuDb *.yaml
recursive-include auto-completion *
recursive-include bukuserver/templates *
