[MESSAGES CONTROL]
disable=
  anomalous-backslash-in-string,
  bad-continuation,
  bad-whitespace,
  bare-except,
  broad-except,
  dangerous-default-value,
  expression-not-assigned,
  fixme,
  global-statement,
  import-error,
  invalid-name,
  len-as-condition,
  logging-format-interpolation,
  lost-exception,
  misplaced-comparison-constant,
  missing-docstring,
  missing-final-newline,
  no-else-return,
  #no-member,
  no-self-use,
  pointless-statement,
  protected-access,
  redefined-argument-from-local,
  redefined-builtin,
  redefined-outer-name,
  superfluous-parens,
  too-many-arguments,
  too-many-boolean-expressions,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-public-methods,
  too-many-return-statements,
  too-many-statements,
  undefined-loop-variable,
  ungrouped-imports,
  unidiomatic-typecheck,
  unnecessary-lambda,
  unsupported-assignment-operation,
  unused-argument,
  unused-variable,
  wrong-import-order,
[FORMAT]
max-line-length=139
