[MESSAGES CONTROL]
disable=
  assigning-non-slot,
  broad-except,
  c-extension-no-member,
  consider-using-f-string,
  consider-using-with,
  dangerous-default-value,
  expression-not-assigned,
  fixme,
  global-statement,
  global-variable-not-assigned,
  import-error,
  import-outside-toplevel,
  invalid-name,
  len-as-condition,
  logging-format-interpolation,
  lost-exception,
  missing-docstring,
  pointless-statement,
  protected-access,
  redefined-argument-from-local,
  redefined-builtin,
  redefined-outer-name,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-lines,
  too-many-locals,
  too-many-nested-blocks,
  too-many-positional-arguments,
  too-many-public-methods,
  too-many-return-statements,
  too-many-statements,
  undefined-loop-variable,
  ungrouped-imports,
  unidiomatic-typecheck,
  unnecessary-lambda,
  unnecessary-lambda-assignment,
  unsubscriptable-object,
  unsupported-assignment-operation,
  unused-argument,
  unused-variable,
[FORMAT]
max-line-length=139
