interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.ru/search?newwindow=1&safe=off&q=xkbcomp+alt+gr&oq=xkbcomp+alt+gr&gs_l=serp.3..33i21.28976559.28977886.0.28978017.6.6.0.0.0.0.167.668.0j5.5.0....0...1c.1.64.serp..1.2.311.06cSKPTLo18
  response:
    body:
      string: "<!doctype html><html itemscope=\"\" itemtype=\"http://schema.org/SearchResultsPage\"\
        \ lang=\"id\"><head><meta charset=\"UTF-8\"><meta content=\"origin\" name=\"\
        referrer\"><meta content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\"\
        \ itemprop=\"image\"><title>xkbcomp alt gr - Penelusuran Google</title><script\
        \ nonce=\"fiRsZQKlRm7AeAysGAgLGA\">(function(){var b=window.addEventListener;window.addEventListener=function(a,c,d){\"\
        unload\"!==a&&b(a,c,d)};}).call(this);(function(){window.google={kEI:'QyS5Y_SSL5HO5OUPp_mggAY',kEXPI:'31',kBL:'5roH'};google.sn='web';google.kHL='id';})();(function(){\n\
        var f=this||self;var h,k=[];function l(a){for(var b;a&&(!a.getAttribute||!(b=a.getAttribute(\"\
        eid\")));)a=a.parentNode;ret[...]
